Repository Apesensei/nightbff-integration, changes with the owners that CODEOWNERS names for each.
All owners: @nightbff/devops, @nightbff/platform-team, @nightbff/backend-team, @nightbff/qa-team, @nightbff/frontend-team

CODEOWNERS:

# NightBFF Integration Repository - Code Owners
# 
# This file defines the default reviewers for pull requests
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners for all files
* @nightbff/devops @nightbff/platform-team

# CI/CD workflows require DevOps approval
.github/workflows/ @nightbff/devops

# Docker configuration requires DevOps and Backend approval  
docker-compose.yaml @nightbff/devops @nightbff/backend-team
.env.integration @nightbff/devops @nightbff/backend-team

# Test files require QA approval
tests/ @nightbff/qa-team @nightbff/devops

# Cypress tests require Frontend and QA approval
tests/e2e-cypress/ @nightbff/frontend-team @nightbff/qa-team

# k6 load tests require Backend and QA approval
tests/load-k6/ @nightbff/backend-team @nightbff/qa-team

# Documentation requires all teams
*.md @nightbff/devops @nightbff/platform-team

# Git submodule configuration requires Platform team approval
.gitmodules @nightbff/platform-team @nightbff/devops

infra(integration): sync env variables with backend hardening, remove DATABASE_URL to avoid conflict
  .env.integration
  .env.integration.example
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team, @nightbff/platform-team

feat(env): canonical env consolidation and cleanup (integration)
  .env.integration
  .env.integration.example
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team, @nightbff/platform-team

chore: align integration repo with canonical seeder pipeline (docker-compose, remove legacy script)
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

chore: add Makefile for env sync task
  Makefile
Owners: @nightbff/devops, @nightbff/platform-team

feat: sync backend submodule and update integration CI
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix: CI workflow environment validation failure
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): add missing environment variables for env:lint validation
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(submodules): update gitmodules to match current working branches
  .gitmodules
Owners: @nightbff/platform-team, @nightbff/devops

fix(submodules): add nested app/nightbff-frontend entry to .gitmodules for recursive checkout
  .gitmodules
Owners: @nightbff/platform-team, @nightbff/devops

chore(ci): prune duplicate submodule entry and limit checkout recursion
  .github/workflows/integration-ci.yml
  .gitmodules
Owners: @nightbff/devops, @nightbff/platform-team

ci: add env vars for postinstall env validation in backend jobs
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): update workflows for platform-specific dependencies
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

feat(ci): implement Blueprint xx Phase 3 - workflow hardening
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

docs: Blueprint xx Phases 0-3 completion report
  BLUEPRINT_XX_PHASE_COMPLETION.md
Owners: @nightbff/devops, @nightbff/platform-team

feat(deps): configure renovate with real team mentions
  .githooks/pre-commit
  .github/workflows/integration-ci.yml
  .github/workflows/renovate-config-validation.yml
  .gitmodules
  .gitmodules.backup
  .nvmrc
  .renovaterc.json
  .tool-versions
  blueprint-execution-summary.md
  commitlint.config.js
  docs/BRANCH_PROTECTION_SETUP.md
  docs/LOCAL_DEVELOPMENT_SETUP.md
  docs/RENOVATE_SETUP.md
  package-lock.json
  package.json
  scripts/acceptance-gate-1.3.sh
  scripts/acceptance-gate-1.4.sh
  scripts/acceptance-gate-1.5.sh
  scripts/acceptance-gate-2.2.sh
  scripts/acceptance-gate-2.3.sh
  scripts/setup-branch-protection.sh
  scripts/setup-git-hooks.js
  scripts/validate-branch-protection.sh
  scripts/validate-node-alignment.sh
  scripts/validate-paths.sh
  scripts/validate-workspace.sh
Owners: @nightbff/devops, @nightbff/platform-team

fix(config): remove deprecated github block and move sampleSize keys to top-level
  .renovaterc.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(workspace): update paths to backend/app
  .github/workflows/integration-ci.yml
  scripts/validate-workspace.sh
Owners: @nightbff/devops, @nightbff/platform-team

feat: implement Step 7 Testing Matrices with secure k6 token generation
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(hooks): separate commit message validation from pre-commit
  .githooks/commit-msg
  .githooks/pre-commit
Owners: @nightbff/devops, @nightbff/platform-team

fix(submodules): update backend to remove cyclic dependency
  test-file.txt
Owners: @nightbff/devops, @nightbff/platform-team

chore: remove test file
  test-file.txt
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): correct submodule paths in integration workflow
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): correct and unify submodule path handling
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): correct submodule paths and resolve dependency conflicts
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(repo): repair broken submodule configuration for backend
  .gitmodules
Owners: @nightbff/platform-team, @nightbff/devops

fix(ci): add --legacy-peer-deps flag
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): use env_file to ensure single source of truth for tests
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): synchronize test environment with test.env
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): unify env config to single source of truth
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): remove duplicate app submodule and align BACKEND_PATH
  .github/workflows/integration-ci.yml
  .gitmodules
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): replace unsupported env_file with explicit env mapping
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): replace env_file with env mapping for postgres service
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

chore(submodule): add backend ci-clean branch
  .gitmodules
Owners: @nightbff/platform-team, @nightbff/devops

fix(ci): resolve submodule URL and cyclic dependency issues
  .github/workflows/integration-ci.yml
  .gitmodules
Owners: @nightbff/devops, @nightbff/platform-team

chore(ci): disable nested submodule recursion and remove invalid checkout inputs
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): resolve all npm ci infinite loop issues
  package-lock.json
  package.json
Owners: @nightbff/devops, @nightbff/platform-team

chore(ci): regenerate integration lock after backend cache-manager upgrade
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(deps): regenerate integration package-lock
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): add submodule detection to git hooks
  scripts/setup-git-hooks.js
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): consolidate deps to workspace install
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops
