Repository Apesensei/nightbff-integration, changes with the owners that CODEOWNERS names for each.
All owners: @nightbff/devops, @nightbff/platform-team, @nightbff/backend-team, @nightbff/qa-team, @nightbff/frontend-team

fix(ci): skip migration-glob test in CI pipeline
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): add native build tools for sharp module
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): add sharp diagnostics and python3
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix: downgrade Sharp to 0.33.5 for Node.js 20 compat
  package-lock.json
  package.json
Owners: @nightbff/devops, @nightbff/platform-team

ci: remove Sharp diagnostic steps after fix
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix: downgrade Sharp to 0.33.5 for Node.js 20
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): add migration preparation step before unit tests
  .github/workflows/integration-ci.yml
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(deps): update backend submodule with sharp version fix
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(deps): regenerate lockfile to align sharp binaries
  package-lock.json
  scripts/ci/choose-pg-port.sh
Owners: @nightbff/devops, @nightbff/platform-team

fix(docker-compose): correct integration.env file path
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

feat(ci): implement CI pipeline improvements from notepad checklist
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: fix commitlint on integration branches & revert migration hack
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(docker): correct build context paths after repo hygiene
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(frontend): runtime patch for ajv mismatch & add env vars to migrator
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

chore(integration): update submodule pointers and docker-compose for CI trigger
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

chore(integration): update submodule pointers and root lockfile for CI lockfile integrity
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

ci(frontend): use root lockfile and workspace-aware install for npm workspace integrity
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci(e2e): upload Cypress screenshots and videos as artifacts for E2E debugging
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

feat(ci): add environment centralization action plan
  ENV_CENTRALIZATION_ACTION_PLAN.md
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): add build step before environment validation to ensure load-env.js exists
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

chore(deps): clean up package-lock.json dependencies
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): remove express contamination
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): add sharp platform-specific binary installation
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

feat(ci): complete tdl pipeline improvements
  .github/workflows/integration-ci.yml
  docs/TDL-001-FIX-SUMMARY.md
  docs/TDL-003-FIX-SUMMARY.md
  docs/TDL-004-FIX-SUMMARY.md
  docs/TDL-005-FIX-SUMMARY.md
  scripts/notify-test-failure.js
  scripts/parse-k6-results.js
Owners: @nightbff/devops, @nightbff/platform-team

ci(integration): use integration DSN + JWT secret for seeding and k6 tokens
  .github/workflows/integration-ci.yml
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

docs(integration): bootstrap hygiene files and quickstart
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/integration-ci.yml.backup
  README.md
  docs/TEAM_PROTOCOL.md
Owners: @nightbff/devops, @nightbff/platform-team

docs(integration): add branch-protection-check to trigger ci
  docs/branch-protection-check.txt
Owners: @nightbff/devops, @nightbff/platform-team

feat(ci): add security audit job to integration pipeline
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(security): resolve high severity vulnerabilities
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

docs: add comprehensive security audit documentation
  docs/INDEX.md
  docs/SECURITY_AUDIT_IMPLEMENTATION.md
  docs/TDL-006-SECURITY-AUDIT-IMPLEMENTATION.md
Owners: @nightbff/devops, @nightbff/platform-team

feat(ci): add jwt security validation to ci pipeline
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): resolve jwt security validation issues
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): resolve jwt security validation issues
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

chore(ci): update integration ci workflow backup
  .github/workflows/integration-ci.yml.backup
Owners: @nightbff/devops

feat(integration): migrate frontend to new fork with SDK 54 upgrade
  .gitignore
  .gitmodules
Owners: @nightbff/devops, @nightbff/platform-team

feat(integration): migrate frontend to new fork with SDK 54 upgrade
  .gitignore
  .gitmodules
Owners: @nightbff/devops, @nightbff/platform-team

fix(deps): resolve workspace conflicts for sdk 54
  docs/MIGRATION_LOG_2025-10-01_FRONTEND_SUBMODULE.md
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

chore: update backend submodule to cache-manager v6
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): synchronize package-lock.json with workspaces
  package-lock.json
Owners: @nightbff/devops, @nightbff/platform-team

chore(ci): add main branch to ci triggers
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

CODEOWNERS:

# NightBFF Integration Repository - Code Owners
# 
# This file defines the default reviewers for pull requests
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners for all files
* @nightbff/devops @nightbff/platform-team

# CI/CD workflows require DevOps approval
.github/workflows/ @nightbff/devops

# Docker configuration requires DevOps and Backend approval  
docker-compose.yaml @nightbff/devops @nightbff/backend-team
.env.integration @nightbff/devops @nightbff/backend-team

# Test files require QA approval
tests/ @nightbff/qa-team @nightbff/devops

# Cypress tests require Frontend and QA approval
tests/e2e-cypress/ @nightbff/frontend-team @nightbff/qa-team

# k6 load tests require Backend and QA approval
tests/load-k6/ @nightbff/backend-team @nightbff/qa-team

# Documentation requires all teams
*.md @nightbff/devops @nightbff/platform-team

# Git submodule configuration requires Platform team approval
.gitmodules @nightbff/platform-team @nightbff/devops
