Repository Apesensei/nightbff-integration, changes with the owners that CODEOWNERS names for each.
All owners: @nightbff/devops, @nightbff/platform-team, @nightbff/backend-team, @nightbff/qa-team, @nightbff/frontend-team

test(ci): verify auto-trigger on main branch
  docs/CI_TRIGGER_VERIFICATION.md
Owners: @nightbff/devops, @nightbff/platform-team

feat(ci): add lockfile consistency guardrails
  .github/workflows/integration-ci.yml
  docs/CI_GOVERNANCE.md
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): remove e2e tests from unit test job
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

feat(ci): integrate frontend docker build and testing
  .dockerignore.frontend
  .github/workflows/integration-ci.yml
  Dockerfile.frontend
  docker-compose.yaml
  docs/CI_GOVERNANCE.md
  docs/FRONTEND_DOCKER_DEPLOYMENT.md
Owners: @nightbff/devops, @nightbff/platform-team, @nightbff/backend-team

fix(ci): correct docker buildx syntax and bundle size check
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(docker): use pre-built images from ghcr
  .github/workflows/integration-ci.yml
  docker-compose.override.yml
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/platform-team, @nightbff/backend-team

fix(ci): remove --wait flag for better error visibility
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): update backend build context to include config
  .github/workflows/integration-ci.yml
  docker-compose.override.yml
Owners: @nightbff/devops, @nightbff/platform-team

ci: add backend health failure logs
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: validate workspace lockfiles and bump backend
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci(sanity): run npm with isolated --prefix per submodule and disable workspaces
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci(integration): remove workspaces and embedded sources; infra-only base compose for digest-driven CI
  .gitmodules
  docker-compose.src.yaml
  docker-compose.yaml
  package.json
  pr36_name_status.txt
  pr36_submodule_log.txt
Owners: @nightbff/platform-team, @nightbff/devops, @nightbff/backend-team

docs(integration): add environment contracts and health endpoints
  docs/ENV_CONTRACTS.md
Owners: @nightbff/devops, @nightbff/platform-team

docs(integration): add merge freeze announcement for Phase 0
  MERGE_FREEZE_ANNOUNCEMENT.md
Owners: @nightbff/devops, @nightbff/platform-team

chore(integration): add config/integration.env for digest-compose
  config/integration.env
Owners: @nightbff/devops, @nightbff/platform-team

ci(integration): digest-consumer workflow (accepts digests; compose override)
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): replace wget healthcheck with Node.js and set COMPOSE_PROJECT_NAME
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

feat(ci): add orchestrator workflow for digest-driven integration
  .github/workflows/orchestrate-publish-and-integration.yml
Owners: @nightbff/devops

docs: update INDEX and SECURITY_AUDIT with digest-driven changes
  docs/INDEX.md
  docs/SECURITY_AUDIT_IMPLEMENTATION.md
  docs/adr/ADR-001-digest-integration.md
Owners: @nightbff/devops, @nightbff/platform-team

feat(tests): load and use authentication tokens in k6 integration tests
  tests/load-k6/integration-smoke.js
Owners: @nightbff/backend-team, @nightbff/qa-team

fix(ci): correct frontend workflow reference from @main to @master
  .github/workflows/orchestrate-publish-and-integration.yml
Owners: @nightbff/devops

fix(ci): add packages:write and id-token:write permissions to orchestrator
  .github/workflows/orchestrate-publish-and-integration.yml
Owners: @nightbff/devops

fix(ci): add explicit permissions to reusable workflow job calls
  .github/workflows/orchestrate-publish-and-integration.yml
Owners: @nightbff/devops

fix(integration): pass Postgres env vars to db container and parametrize healthcheck
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(integration): start frontend only after backend is healthy
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(integration): stub supabase env vars for backend startup
  config/integration.env
Owners: @nightbff/devops, @nightbff/platform-team

fix(ci): add explicit frontend healthcheck configuration
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): add DATABASE_URL construction and network discovery for token generation
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

CODEOWNERS:

# NightBFF Integration Repository - Code Owners
# 
# This file defines the default reviewers for pull requests
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners for all files
* @nightbff/devops @nightbff/platform-team

# CI/CD workflows require DevOps approval
.github/workflows/ @nightbff/devops

# Docker configuration requires DevOps and Backend approval  
docker-compose.yaml @nightbff/devops @nightbff/backend-team
.env.integration @nightbff/devops @nightbff/backend-team

# Test files require QA approval
tests/ @nightbff/qa-team @nightbff/devops

# Cypress tests require Frontend and QA approval
tests/e2e-cypress/ @nightbff/frontend-team @nightbff/qa-team

# k6 load tests require Backend and QA approval
tests/load-k6/ @nightbff/backend-team @nightbff/qa-team

# Documentation requires all teams
*.md @nightbff/devops @nightbff/platform-team

# Git submodule configuration requires Platform team approval
.gitmodules @nightbff/platform-team @nightbff/devops
