Repository Apesensei/nightbff-integration, changes with the owners that CODEOWNERS names for each.
All owners: @nightbff/devops, @nightbff/platform-team, @nightbff/backend-team, @nightbff/qa-team, @nightbff/frontend-team

CODEOWNERS:

# NightBFF Integration Repository - Code Owners
# 
# This file defines the default reviewers for pull requests
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners for all files
* @nightbff/devops @nightbff/platform-team

# CI/CD workflows require DevOps approval
.github/workflows/ @nightbff/devops

# Docker configuration requires DevOps and Backend approval  
docker-compose.yaml @nightbff/devops @nightbff/backend-team
.env.integration @nightbff/devops @nightbff/backend-team

# Test files require QA approval
tests/ @nightbff/qa-team @nightbff/devops

# Cypress tests require Frontend and QA approval
tests/e2e-cypress/ @nightbff/frontend-team @nightbff/qa-team

# k6 load tests require Backend and QA approval
tests/load-k6/ @nightbff/backend-team @nightbff/qa-team

# Documentation requires all teams
*.md @nightbff/devops @nightbff/platform-team

# Git submodule configuration requires Platform team approval
.gitmodules @nightbff/platform-team @nightbff/devops

fix(ci): remove invalid --frozen-lockfile flag for npm ci
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): use ACCESS_TOKEN_GITHUB for private submodule checkout
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: fix backend paths to nested app dir and correct coverage/pact artifact paths
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: add supabase env vars and ignore empty plan integration spec in unit backend
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: add jest open handle flags and update backend submodule with user-discovery fix
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: forceExit e2e tests to prevent linger
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: migrate docker-compose commands to docker compose for GH runners
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: use backend and frontend submodule SHAs for compose image tags and switch to docker compose CLI
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: authenticate to GHCR before pulling images in compose jobs
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: build and push backend/frontend images before compose up
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: fix backend Dockerfile path to app/app
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: use GHCR_PAT for docker login push permissions
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: fix frontend build context Dockerfile default
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: point frontend Docker build to nested app directory
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: fix frontend docker build path and context
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

ci: add debug step to list frontend submodule files
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix: remove invalid backend command override to allow container to start
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

chore(ci): remove debug ls step from frontend build
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

chore(compose): override frontend start command with non-interactive lan host
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

ci: capture individual container logs on compose failure
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(compose): use EXPO_NO_INTERACTIVE env for frontend
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(compose): override backend command to wait for correct db host
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

ci: correct backend health check URL to /api/health
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

chore(ci): add aggressive log capture for backend
  .github/workflows/integration-ci.yml
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(ci): resolve backend crash and incorrect health check
  .env.integration
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops, @nightbff/backend-team

refactor(ci): unify integration, e2e, and load tests into a single job
  .github/workflows/integration-ci.yml
Owners: @nightbff/devops

fix(ci): ensure e2e and contract tests actually run
  .github/workflows/integration-ci.yml
  package.json
Owners: @nightbff/devops, @nightbff/platform-team

chore(integration): add env template & update FE submodule
  .env.integration.example
Owners: @nightbff/devops, @nightbff/platform-team

feat(ci): add package.json to support E2E test dependencies
  package-lock.json
  package.json
Owners: @nightbff/devops, @nightbff/platform-team

feat(ci): add migrator service to run db migrations
  docker-compose.yaml
  scripts/run-migrations.sh
Owners: @nightbff/devops, @nightbff/backend-team, @nightbff/platform-team

fix(ci): mount migration script into migrator service
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(ci): export DATABASE_URL in migration script
  scripts/run-migrations.sh
Owners: @nightbff/devops, @nightbff/platform-team

chore(integration): sync app submodule and workflow tweaks
  .github/workflows/integration-ci.yml
  .gitignore
  scripts/run-migrations.sh
Owners: @nightbff/devops, @nightbff/platform-team

fix(integration): use precompiled migration validator to avoid build in migrator container
  scripts/run-migrations.sh
Owners: @nightbff/devops, @nightbff/platform-team

chore(ci): inline migrator command and remove obsolete script
  docker-compose.yaml
  scripts/run-migrations.sh
Owners: @nightbff/devops, @nightbff/backend-team, @nightbff/platform-team

fix(ci): replace pg_isready with Node.js database connection test
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(ci): use TCP socket readiness probe for Postgres (remove pg dependency issues)
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

fix(ci): add migrator to docker network
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

chore(ci): phase A-D - compiled migration runner, smoke seeder, env cleanup, docker cleanup step
  .env.integration
  .github/workflows/integration-ci.yml
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team

feat(ci): point integration repo to hardened backend submodule
  docker-compose.yaml
Owners: @nightbff/devops, @nightbff/backend-team
